<h2 class="tags-title">Privacy Policy</h2>

<div class="container">


<h3>Privacy Notice</h3>

<p>Effective Date:  August 1, 2014</p>

<h4>Subscriptions</h4>

<p>Users who opt-in to our subscriber base, will be contacted via email on a frequent basis unless opting out. Data is not stored on PROVEYOURWEALTHS, LLC servers, they are stored on SendGrid servers</p>

</div>
