<h2 class="tags-title">Terms of Use</h2>

<div class="container">

<p>Effective Date:  August 1, 2014</p>

<h4>Subscriptions</h4>

<p>Nature of your site – Let your readers know the nature of your site. A blog differs from a website. A blog has ever changing content and can include conversations and comments as compared with a website. This might seem obvious, but it’s good to make it clear what type of site you are running.</p>
<p>Opinionated content – You should remind your readers that your blog contains your opinions and doesn’t reflect the opinions of any organizations you might be affiliated with. This helps to show that if, perhaps you work with a certain company, you aren’t making official statements on behalf of that company.</p>
<p>Terms of use – Indicate that any information you provide on your blog is accurate and true to the best of your knowledge, but that there may be omissions, errors or mistakes.</p>
<p>Hold harmless clause – This type of clause is where you remind your readers that the info you present on your blog is for entertainment and/or informational purposes only and shouldn’t be seen as any kind of advice, such a medical, legal, tax, emotional or other types of advice. You can again reiterate that if your readers rely on any info on your blog, it’s at their own risk.</p>
<p>Not a professional – Next, indicate that you are not a professional, if that’s the case. Therefore, you’re not a doctor, medical professional, health professional, tax professional, attorney, engineer, etc. Whatever the topic you’re writing about –remind everyone that you are not a professional so your info shouldn’t be seen as professional advice.</p>
<p>Are a professional, but… – If you are a professional for a topic that you’re writing on, make sure you share that, but remind your readers of what that means. Indicate that, even though you’re a professional, your blog posts are for information purposes only and shouldn’t be seen as financial, health, nutritional, medical, legal, etc advice. Also remind your readers to consult with a professional before taking any sort of action.</p>
<p>Reservation of rights – In this section, you should indicate that you reserve the right to change how you manage or run your blog and that you may change the focus or content on your blog at any time.</p>

</div>
