.subscribe-box-container {

  width: 100%;
  margin-bottom: 4rem;

  .subscribe-box {
    padding: 2rem;
    border: 1px solid rgba(32,142,182, 0.2);
    border-top: 6px solid #208eb6;
    background-color: #e8f3f7;

    @media only screen and (max-width: 482px) {
      input[type="text"] {
        width: 100%;
        box-sizing: border-box;
        display: block;
        text-align: center;
        margin-bottom: 0.4rem;
      }
      input[type="submit"] {
        width: 100%;
        display: block;
      }
      .hide-on-mobile {
        display: none;
      }
    }

    .subscribe-text {
      text-align: center;

      p {
        font-size: 0.95em;
        margin-bottom: 2rem;
        font-weight: bold;
      }
    }

    .subscribe-form {
      text-align: center;

    }
  }
}
