.left-hero-text,
.right-hero-text {
  position: relative;
  // top: 0;
  bottom: 0;
  background-color: rgba(184,64,21, 1);
  color: #fff;
  padding: 2rem;
  text-align: center;
  // font-size: 50%
}

section.welcome-page-full-hero {
  background-image: asset-url('sample_hero.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
}

h1.welcome {
  padding: 1em 1em 0;
  font-size: 2.8em;
  text-decoration: underline;
}

h1.centered {
  text-align: center;
}

h2.welcome-title {
  padding: 2rem 0;
  background-color: #175369;
  text-align: center;
  font-family: "Lobster", cursive;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.welcome-subscribe-box-container {
  background-color: #e8f3f7;
  padding: 10rem 0;

  .welcome-subscribe-box {
    .welcome-subscribe-text {
      p {
        text-align: center;
        font-size: 1.2em;

        span {
          font-weight: bold;
        }
      }
    }

    .welcome-subscribe-form {
      text-align: center;
      margin-top: 2.5rem;
    }
  }
}

p {
  margin-top: 1rem;
}

.author-authors {
  display: block;
  width: 50%;
  margin: auto;
  box-sizing: border-box;
  border-radius: 100%;
}

.test_featured_image {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;
}

.image-height-wrapper {
  display: grid;
  grid-template-rows: 50% auto;
  height: 100%;

  a {
    text-decoration: none;

    .image-half-height {
      background-size: cover;
      background-position: center;
      padding-bottom: 100%;
      box-sizing: border-box;
      position: relative;

      h4 {
        padding: 2rem 0;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: rgba(0,0,0,0.4);
        color: #fff;
      }
    }
  }
}

.popular-posts {
  background-color: #fff;
  padding: 2.5rem;

  h2 {
    margin: 0.5rem 0;
  }

  ul {
    li {
      padding: 1rem;

      a {
        text-decoration: none;
        font-size: 1.2em;
        line-height: 1.4em;
        letter-spacing: 0.02em;
        color: #000;

        &:hover {
          text-decoration: underline;
        }
      }

      a.view-more-link {
        color: #B84015;



        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 20px;
        border-radius: 4px;
        padding: 1vh 2vh;
        letter-spacing: 0.02rem;
        background: #B84015;
        color: white;
        font-size: 0.8rem;


        &:hover {
          background: rgba(184, 64, 21, 0.9);
          transform: translateY(-1px);
        }


      }
    }
  }
}

.welcome-initial-sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  img {
    width: 100%;
    height: auto;
  }
}

.subscribe-sidebar {
  height: 100%;
  // display: block;
  background-color: #e8f3f7;
  position: relative;

  .inner-subscribe-sidebar {
    width: 50%;
    box-sizing: border-box;
    // padding: 0 2.5rem;
    // margin: auto;
    // display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h4 {
    text-align: center;
    font-size: 1.1em;
    padding: 0.5rem;
  }

  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  input[type="submit"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}

.welcome-featured-image {
  padding: 40%;
  background-size: cover;
  background-position: center;
}

.column-text-card {
  text-align: center;
  padding: 4rem 2rem;

  .small-post-image {
    background-size: cover;
    border-radius: 100%;
    padding: 5%;
    width: 60px;
    height: 60px;
    margin: auto auto 1rem;
    display: inline-block;

    &:hover {
      opacity: 0.85;
      transform: translateY(-1px);
    }
  }

  h4 {
    font-size: 1.2em;

    a {
      color: #000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  p {
    color: #A0A6AB;
    font-size: 0.89em;
  }
}

.column-card-title {
  text-align: center;
  padding: 4rem 2rem;

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.welcome-title.empty-space {
  height: 100%;
  width: 100%;
}
