
h2.welcome-title {
  padding: 2rem;
  background-color: #175369;
  font-family: "Lobster", cursive;

  a {
    text-decoration: none;
    color: #fff;

    &:hover {
      color: #d8d8d8;
    }
  }

}

.popular-posts {
  background-color: #fff;
  padding: 2rem;

  h2 {
    margin: 0.5rem 0;
  }

  ul {

    .post-view-count {
      padding: 1rem 2rem;
    }
    li {
      // padding: 1rem 1rem 0 1rem;
      padding: 0;

      a {
        text-decoration: none;
        font-size: 1.2em;
        line-height: 1.4em;
        letter-spacing: 0.02em;
        color: #000;

        &:hover {
          text-decoration: underline;
        }
      }

      a.view-more-link {
        color: #B84015;
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 20px;
        border-radius: 4px;
        padding: 1vh 2vh;
        letter-spacing: 0.02rem;
        background: #B84015;
        color: white;
        font-size: 0.8rem;
        margin: 0.5rem 0;

        &:hover {
          background: rgba(184, 64, 21, 0.9);
          transform: translateY(-1px);
        }


      }
    }
  }
}

.subscribe-sidebar {
  height: 100%;
  background-color: #e8f3f7;
  position: relative;

  .inner-subscribe-sidebar {
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h4 {
      text-align: center;
      font-size: 1.1em;
      padding: 2rem;
    }


    .terms-disclaimer {
      font-style: italic;
      font-size: 0.8em;
      text-align: center;
      padding: 2rem;
    }

  }



  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  input[type="submit"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}

.welcome-featured-image {
  padding: 40%;
  background-size: cover;
  background-position: center;
}

.column-text-card {
  text-align: center;
  padding: 4rem 2rem;

  .small-post-image {
    background-size: cover;
    border-radius: 100%;
    padding: 5%;
    width: 60px;
    height: 60px;
    margin: auto auto 1rem;
    display: inline-block;

    &:hover {
      opacity: 0.85;
      transform: translateY(-1px);
    }
  }

  h4 {
    font-size: 1.2em;

    a {
      color: #000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  p {
    color: #A0A6AB;
    font-size: 0.89em;
  }
}

.column-card-title {
  text-align: center;
  padding: 4rem 2rem;

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.welcome-title.empty-space {
  height: 100%;
  width: 100%;
}


.empty-welcome-space {
  height: 100%;
  width: 100%;
  background-color: #175369;
}









.link-for-image-wrapper {
  height: 100%;
  width: 100%;


  display: block;
  .welcome-main-featured-image {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;

    -webkit-transition: filter 0.3s ease;
    -moz-transition: filter 0.3s ease;
    -ms-transition: filter 0.3s ease;
    -o-transition: filter 0.3s ease;
    transition: filter 0.3s ease;

    -webkit-backface-visibility: hidden;

    &:hover {
      filter: contrast(1.2);
    }
    h4 {
      padding: 2rem 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      background-color: rgba(0,0,0,0.4);
      color: #fff;
    }
  }
}
