<!DOCTYPE>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  </head>

  <body>
    <h1>Welcome to the family!!!!!</h1>

    <%= link_to 'Unsubscribe', edit_account_activation_url(@subscriber.activation_token,
                                                        email: @subscriber.email) %>
  </body>
</html>
