#card-container {
  #card-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;

    .article-card {
      box-sizing: border-box;
      padding: 1rem;

      .article-card-border {
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
        border-radius: 4px;
      }

      .article-card-content {
        padding: 2rem;
      }

      a {
        text-decoration: none;
      }

      .image-wrapper {
        display: block;
        overflow: hidden;
      }

      .card-image {
        padding-bottom: 70%;
        background-size: cover;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.2);
          -ms-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -webkit-transform: scale(1.2);
          -o-transform: scale(1.2);
        }
      }

      .card-title {
        font-size: 1.2em;
        line-height: 1.4em;
        letter-spacing: 0.02em;
        text-align: center;
        // margin: 1rem 0;
        a {
          color: #000;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .card-category {
        text-align: center;
        font-size: 0.9em;
      }

      p.card-summary {
        margin: 1rem 0;
        font-size: 0.89em;
        text-align: center;
        color: #A0A6AB;
      }

      .card-tag-wrapper {
        display: flex;
        flex-wrap: nowrap;
        margin: 1rem 0;

        a {
          flex: 1;
          text-align: center;
          font-size: 0.6em;
          color: #A0A6AB;
          letter-spacing: 2px;
          text-transform: uppercase;
          font-weight: 700;
          &:hover {
            text-decoration: underline;
          }
        }
      }



      .button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        a.read-more-button {
          display: inline-block;
          text-transform: uppercase;
          text-decoration: none;
          line-height: 20px;
          border-radius: 4px;
          padding: 1vh 2vh;
          letter-spacing: 0.02rem;
          background: #B84015;//#664EF7;
          color: white;
          font-size: 0.8rem;

          &:hover {
            background: rgba(184,64,21, 0.9);//#7C66FF;
            transform: translateY(-1px);
          }
        }
      }

      hr {
        width: 80%;
        margin-top: 3vh;
        margin-bottom: 3vh;
        border: 0;
        border-bottom: 1px solid #E6E9EC;
      }



      .card-bottom-info {
        display: flex;
        flex-wrap: nowrap;


        p {
          flex: 1;
          font-size: 0.7rem;
          color: #A0A6AB;
          letter-spacing: 2px;
          text-transform: uppercase;
          font-weight: 700;
          margin: 1rem;

            a {
              margin: 0;
              color: #A0A6AB;
              &:hover {
                text-decoration: underline;
              }
            }

        }


        p:nth-child(2) {
          text-align: right;
        }
      }


    }
  }
}
@media only screen and (min-width: 615px) {
  #card-container #card-wrapper .three-col {
    width: 50%;
  }

  #card-container #card-wrapper .two-col {
    width: 50%;
  }
}
@media only screen and (min-width: 940px) {
  #card-container #card-wrapper .three-col {
    width: 33.333%;
  }
}

#card-container + #card-wrapper,
.only-text-cards {
  padding-bottom: 0 !important;

  .article-link {
    padding: 1rem 0 !important;
  }
}
