<div class="col-4">


  <div class="subscribe-sidebar">
    <div class="inner-subscribe-sidebar">

      <h4><%= subscription_message %></h4>
      <%= render 'shared/subscribe_form' %>
      <h6 class="terms-disclaimer">By clicking subscribe you are agreeing to our <%= link_to 'terms', terms_path %></h6>

    </div>
  </div>

</div>
