<div class="welcome-main-image-wrapper" style="background-image: url(<%= asset_url 'sample_hero.jpg' %>)">
  <h1>Welcome to a whole new you.</h1>
</div>


<% Category.main_categories.each_with_index do |category, index| %>
  <% if index % 2 == 0 %>
    <%= render 'welcome_card_main_layout', category: category, side: 'left', subscription_message: display_subscription_message(index) %>
  <% else %>
    <%= render 'welcome_card_main_layout', category: category, side: 'right', subscription_message: display_subscription_message(index) %>
  <% end %>
<% end %>
