
<% Category.main_categories.each_with_index do |category, index| %>
  <% if index % 2 == 0 %>
    <%= render 'welcome_card_layout_1', category: category %>
  <% else %>
    <%= render 'welcome_card_layout_2', category: category %>
  <% end %>
<% end %>





<!--
<h2 class="welcome-title">Meet the Team</h2>

<div class="grid-container no-collapse">
  <%# 6.times do %>
  <div class="three-col"><%#= image_tag (asset_url 'about_me.jpg'), class: 'author-authors' %></div>
  <%# end %>
</div>
-->




<!--
<div class="welcome-subscribe-box-container">
  <div class="welcome-subscribe-box">
    <div class="welcome-subscribe-text">

      <p>Subscribe... <span>before it's too late!</span></p>
    </div>

    <div class="welcome-subscribe-form">
      <%#= render 'shared/subscribe_form' %>
  </div>
  </div>
</div>
-->
