.category-wrapper {
  // padding-bottom: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;
  // position: relative;
  height: 250px;
  width: 100%;

}


h1.category-title {
  text-align: center;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


    color: #fff;//rgb(21,141,184);
    $cat-bg-color: #000;///rgb(21,141,184);//rgb(0,0,0);

    text-shadow: $cat-bg-color 3px 0px 0px, $cat-bg-color 2.83487px 0.981584px 0px, $cat-bg-color 2.35766px 1.85511px 0px, $cat-bg-color 1.62091px 2.52441px 0px,
    $cat-bg-color 0.705713px 2.91581px 0px, $cat-bg-color -0.287171px 2.98622px 0px, $cat-bg-color -1.24844px 2.72789px 0px, $cat-bg-color -2.07227px 2.16926px 0px,
    $cat-bg-color -2.66798px 1.37182px 0px, $cat-bg-color -2.96998px 0.42336px 0px, $cat-bg-color -2.94502px -0.571704px 0px, $cat-bg-color -2.59586px -1.50383px 0px,
    $cat-bg-color -1.96093px -2.27041px 0px, $cat-bg-color -1.11013px -2.78704px 0px, $cat-bg-color -0.137119px -2.99686px 0px, $cat-bg-color 0.850987px -2.87677px 0px,
    $cat-bg-color 1.74541px -2.43999px 0px, $cat-bg-color 2.44769px -1.73459px 0px, $cat-bg-color 2.88051px -0.838247px 0px;

i {
  margin-left: 1em;
}

}
