


.featured-slider {
  // width: 100%;
  // position: relative;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 30%;



  .featured-image {
    // background-image: asset-url('cat.jpg');
    // width: 100%;
    // height: 400px;
    background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;


    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

  }
  .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    // color: #f1f1f1;
    color: white;
    width: 100%;

    h1 {
      // padding: 25px;
      padding: 0.32em;
      text-align: center;
    }

    // p {
    //   padding: 1em;
    //   margin-left: 2em;
    // }
  }
}
