.container {
  margin: auto;
  width: 80%;
  padding: 10%;

  @media only screen and (min-width: 615px) {
    width: 70%;
    padding: 5%;
  }

  @media only screen and (min-width: 1180px) {
    width: 50%;
    padding: 2.5%;
  }
}

.container + .no-top-padding {
  padding-top: 0;
}

.container + .only-side-margins {
  padding-top: 0;
  padding-bottom: 0;
}

/////////////

/*
WELCOME
form {
    width: 100%;
  input[type="text"] {
    font-size: 16px;
    padding: 2.5em;
    width: 30%;
  }
  input[type="submit"] {
    background-color: #208eb6;
    color: #fff;
    font-size: 16px;
    padding: 2.5em;
    width: 10%;
    &:hover {
      background-color: #16637f;
      cursor: pointer;
    }
  }
}

FOOTER
form {
  width: 60%;
  margin: auto;
  // font-family: 'Noto Sans', sans-serif;

  label {
    font-size: 0.8em;
    margin-top: 1em;
  }

  input,
  textarea {
    width: 100%;
    padding: 1em;
    font-size: 1em;
    margin-bottom: 1em;
  }

  input[type="submit"] {
    padding: 1em;
    width: 50%;
    background-color: #141414;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;

    &:hover {
      background-color: #5a5a5a;
      border: 2px solid #fff;
      color: #fff;
      cursor: pointer;
    }
  }
}

POST SHOW
.subscribe-form {
  input[type="text"] {
    display: block;
    width: 80%;
    margin: auto;
    padding: 1.2rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    font-size: 0.9em;
    text-align: center;
  }

  input[type="submit"] {
    margin: auto;
    display: block;
    width: 80%;
    background-color: #208eb6;
    color: #fff;
    padding: 1.2rem;
    font-size: 0.9em;

    &:hover {
      cursor: pointer;
      background-color: #16637f;
    }
  }
}

*/

form {
box-sizing: border-box;
  label {
    font-size: 16px;
    display: block;
  }
  input[type="text"] {
    font-size: 16px;
    padding: 1.2rem;
  }
  input[type="submit"], button {
    font-size: 16px;
    background-color: #208eb6;
    color: #fff;
    padding: 1.2rem;
    &:hover {
      background-color: #16637f;
      cursor: pointer;
    }
  }
  textarea {
    padding: 1.2rem;
    font-size: 16px;
  }
}

/////////////




.border-wrapper {
  display: grid;
  grid-template-columns: 49% auto 49%;
  width: 100%;

  .side-border {
    border-bottom: 2px solid black;
    width: 100%;
    display: block;
    margin: auto;
  }

  .middle-border {
    width: 100%;
    display: block;
    margin: auto;
    overflow-y: visible;
  }
}




.impact {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif"
}
