<!-- ~~~~~~~~~~~~~~~ POST IMAGE ~~~~~~~~~~~~~~~ -->
<div class="post-hero-image-block">
  <div class="post-hero-image" style="background-image: url(<%= rails_blob_url @post.main_image %>)"></div>
</div>
