<div class="container no-top-padding">

  <div id="temp-image-holder">
    <% @post_images.each_with_index do |img, index| %>
      <%= image_tag img, id: "post-image-#{index+1}" %>
    <% end %>
  </div>

  <div class="post-content">
    <h5>By: <%= link_to @post.author.name, '#' %></h5>
    <%= @post.body.html_safe %>
  </div>

  </div>
