<div class="container">


<div class="subscribe-box-container">
  <div class="subscribe-box" id="subscribe-box-follow">
    <div class="subscribe-text">
      <p>Become one of 1000+ people that love getting email gold</p>
    </div>

    <div class="subscribe-form">
    <%= form_for 'sub', url: subscribe_path do |f| %>
      <%= f.text_field 'email_address', placeholder: 'myemail@domain.com' %>

    <%= f.submit 'subscribe' %>
  <% end %>
  </div>
</div>
</div>
</div>
