<div class="container">

<div class="about-author-alt">
  <div class="author-left-col">
    <%= image_tag (asset_url 'about_me.jpg') %>
  </div>
  <div class="author-right-col">
    <h5>Sal Tardibuono</h5>

    <p>Sal likes to watch movies, listen to music, bust jokes, and bag on people. His words can and will hurt your feelings. So light up a stogie, pour yourself a tall, stiff drink, and buckle up for the ride of your life.</p>
  </div>
</div>

</div>
