<div class="container only-side-margins">

<div class="about-author-alt">
  <div class="author-left-col">
    <%= image_tag (asset_url 'about_me.jpg') %>
  </div>
  <div class="author-right-col">
    <h5><%= @post.author.name %></h5>

    <p><%= @post.author.bio %></p>
  </div>
</div>

</div>
